.root {
  --text-color-description: #333;
  --border-bottom-color: rgba(0, 0, 0, 0.1);
  --icon-accent-color: #3478f6;

  display: grid;

  grid-template-areas:
    'icon about'
    'how-to how-to';

  grid-template-columns: 96px auto;
  grid-template-rows: minmax(96px, auto) auto;

  font-size: 12px;
  line-height: 1.3;
}

@media (prefers-color-scheme: dark) {
  .root {
    --text-color-description: #9e9aa1;
    --border-bottom-color: #353535;
    --icon-accent-color: #5a91f7;
  }
}

.icon {
  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--border-bottom-color);

  grid-area: icon;
}

.iconImage {
  width: 64px;
  height: 64px;

  margin: 0 auto;

  border-radius: 6px;
}

.about {
  border-bottom: 1px solid var(--border-bottom-color);

  grid-area: about;
}

.name {
  display: flex;

  align-items: flex-start;

  padding-top: 10px;
  padding-right: 40px;

  font-weight: 600;

  font-size: 16px;
  margin-bottom: 5px;
}

.description {
  overflow-y: auto;

  margin-bottom: 15px;
  padding-right: 15px;

  color: var(--text-color-description);

  font-size: 12px;
}

.howToInstruction {
  display: grid;
  overflow: hidden;

  overflow-y: auto;

  max-height: 400px;

  padding: 15px;

  transition: opacity 0.3s ease-in-out 0.2s, max-height 0.5s ease-in-out;

  opacity: 1;

  gap: 10px;

  grid-area: how-to;
}

.instructionStep {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  font-size: 13px;
  gap: 15px;
}

@media (min-width: 768px) {
  .instructionStep {
    font-size: 14px;
  }
}

.svgWrap {
  position: relative;

  display: inline-flex;
  align-items: center;
  flex-shrink: 0;

  width: 50px;
  height: 50px;

  border-radius: 6px;
}

.svgShare,
.svgAdd,
.svgSafari {
  margin: 0 auto;
}

.svgSafari,
.svgShare {
  fill: var(--icon-accent-color);
}

.svgShare {
  margin-bottom: 4px;

  transform: scale(0.75);
}

.svgAdd {
  transform: scale(0.8);
  fill: var(--text-color-normal);
}

.svgSafari {
  transform: scale(0.92);
}

.stepText {
  text-align: left;

  font-weight: 600;
}
