.drawZone {
    width: 300px;
    height: 300px;
    display: grid;
}

.lines {
    --line-color: rgba(0, 0, 0, 0.2);
    --line-length: 10px;
    border: 1px solid var(--line-color);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    pointer-events: none;
    background:
            linear-gradient(to bottom, transparent 0%, transparent 50%, var(--line-color) 50%, var(--line-color) 100%)
            center top / 1px var(--line-length) repeat-y,
            linear-gradient(to right, transparent 0%, transparent 50%, var(--line-color) 50%, var(--line-color) 100%)
            left 8.2% / var(--line-length) 1px repeat-x,
            linear-gradient(to right, transparent 0%, transparent 50%, var(--line-color) 50%, var(--line-color) 100%)
            left 30% / var(--line-length) 1px repeat-x,
            linear-gradient(to right, transparent 0%, transparent 50%, var(--line-color) 50%, var(--line-color) 100%)
            left 70% / var(--line-length) 1px repeat-x,
            linear-gradient(to right, transparent 0%, transparent 50%, var(--line-color) 50%, var(--line-color) 100%)
            left 89.5% / var(--line-length) 1px repeat-x
;
}

.sample {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: center / cover no-repeat;
    opacity: 0;
    pointer-events: none;
}

.sampleShow {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.sigPad {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
}

.button {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    min-width: auto;
}

.buttonUndo {
    align-self: end;
    justify-self: start;
    transform: translateY(100%);
}

.buttonClear {
    align-self: end;
    justify-self: start;
    transform: translate(100%, 100%);
}

.buttonNext {
    align-self: end;
    justify-self: start;
    transform: translate(200%, 100%);
}

.buttonPrimaryAction {
    align-self: end;
    justify-self: end;
    transform: translateY(100%);
}

.accuracy {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: start;
    justify-self: end;
    pointer-events: none;
}
