.root {
    display: grid;
    grid-template-rows: auto auto;
    height: 100%;
    gap: 15px;
}

.taskDescription {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15px;
    font-size: 1.5rem;
    margin-bottom: 0.35em;
}

.taskWorkZone {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
}

.drawZone {
    width: 300px;
    height: 300px;
    display: grid;
}

.lines {
    --length: 10px;
    --t: transparent;
    --color: var(--line-color);
    border: 1px solid var(--color);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    pointer-events: none;
    background:
            linear-gradient(to bottom, var(--t) 0%, var(--t) 50%, var(--color) 50%, var(--color) 100%) center top / 1px var(--length) repeat-y,
            linear-gradient(to right, var(--t) 0%, var(--t) 50%, var(--color) 50%, var(--color) 100%) left var(--cap-line) / var(--length) 1px repeat-x,
            linear-gradient(to right, var(--t) 0%, var(--t) 50%, var(--color) 50%, var(--color) 100%) left var(--lowercase-line) / var(--length) 1px repeat-x,
            linear-gradient(to right, var(--t) 0%, var(--t) 50%, var(--color) 50%, var(--color) 100%) left var(--base-line) / var(--length) 1px repeat-x,
            linear-gradient(to right, var(--t) 0%, var(--t) 50%, var(--color) 50%, var(--color) 100%) left var(--descender-line) / var(--length) 1px repeat-x
;
}

.sample {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: center / cover no-repeat;
    opacity: 0;
    pointer-events: none;
}

.sampleShow {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.sigPad {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
}

.button {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    min-width: auto;
}

.buttonUndo {
    align-self: end;
    justify-self: start;
    transform: translateY(100%);
}

.buttonClear {
    align-self: end;
    justify-self: start;
    transform: translate(100%, 100%);
}

.buttonNext {
    align-self: end;
    justify-self: start;
    transform: translate(200%, 100%);
}

.buttonPrimaryAction {
    align-self: end;
    justify-self: end;
    transform: translateY(100%);
}

.accuracy {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: start;
    justify-self: end;
    pointer-events: none;
}

.sampleCanvas {
    width: 300px;
    height: 300px;
    display: block;
}
