.root {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    gap: 1rem;
}

.section {
    margin: 0.5rem 0;
    display: grid;
    gap: 0.5rem;

    &.end {
        align-self: end;
    }
}

.subtitle {
    font-size: 1.4rem;
    margin: 0.5rem 0;
}