.root {
    font-size: 20px;
    text-align: center;
}

.info {
    margin-top: 0.2rem;
    font-size: 14px;
}

.progress {
    color: blue;
}

.done {
    color: gray;
}

@media (min-width: 768px) {
    .root {
        font-size: 25px;
    }
}

@media (min-width: 1024px) {
    .root {
        font-size: 35px;
    }
}
