.root {
    text-align: center;
    padding: 20px;
}

.state {
    margin-top: 20px;
}

.buttonText {
    font-size: 20px;
    text-shadow: 0 0 4px #ffffff, 0 0 4px #ffffff, 0 0 4px #ffffff, 0 0 4px #ffffff;
}
