.root {
    text-align: center;
    padding: 20px;
    display: grid;
    gap: 10px;
}

.content {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.description {
    display: grid;
    gap: 10px;
    align-self: end;
    padding-bottom: 0.9rem;
}

.name {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
}

.stateText {
    font-size: 0.8rem;
    font-style: italic;
}

.navigatePrev {
    transform: rotate(180deg);
}
