.root {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  max-width: 960px;
  margin: 0 auto;
}

.main {
  overflow: auto;
  max-height: 100%;
  padding: clamp(0.8rem, 2vw, 1.4rem) clamp(0.8rem, 2vw, 1.4rem) clamp(0.8rem, 2vw, 1.4rem);
  display: flex;
  flex-direction: column;
  margin-top: auto;
  min-height: 0;
}

.footer {
  position: relative;
  padding: 0.35rem clamp(.8rem, 2vw, 1.4rem) calc(0.45rem + env(safe-area-inset-bottom));
}
