.root {
    display: grid;
    grid-template-rows: 1fr auto;
    height: calc(100vh - var(--vh-gap));
}

.main {
    overflow: auto;
}

.footer {
    position: relative; /* fix styles order */
}

.footerPaper {
    padding-bottom: env(safe-area-inset-bottom);
}
