/* noto-sans-armenian-regular - latin_armenian */
@font-face {
  font-family: 'Noto Sans Armenian';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./fonts/noto-sans-armenian-v39-latin_armenian-regular.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
  height: -webkit-fill-available;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  position: relative; /* https://base-ui.com/react/overview/quick-start#ios-26-safari */
}

input,
button,
select,
textarea,
optgroup,
keygen {
  margin: 0;

  border-radius: 0;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
}

img {
  max-width: 100%;
}

#root {
  isolation: isolate; /* https://base-ui.com/react/overview/quick-start#portals */
}