/* noto-sans-armenian-regular - latin_armenian */
@font-face {
  font-family: 'Noto Sans Armenian';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./fonts/noto-sans-armenian-v39-latin_armenian-regular.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  box-sizing: border-box;
  height: -webkit-fill-available;
  color-scheme: light dark;

  --color-blue: light-dark(
          oklch(45% 50% 264deg),    /* светлая тема */
          oklch(69% 50% 264deg)     /* темная тема */
  );

  --color-red: light-dark(
          oklch(50% 55% 31deg),
          oklch(80% 55% 31deg)
  );

  --color-gray-50: light-dark(
          oklch(98% 0.25% 264deg),
          oklch(17% 0.25% 264deg)
  );

  --color-gray-100: light-dark(
          oklch(12% 9.5% 264deg / 5%),
          oklch(28% 0.75% 264deg / 65%)
  );

  --color-gray-200: light-dark(
          oklch(12% 9% 264deg / 7%),
          oklch(29% 0.75% 264deg / 80%)
  );

  --color-gray-300: light-dark(
          oklch(12% 8.5% 264deg / 17%),
          oklch(35% 0.75% 264deg / 80%)
  );

  --color-gray-400: light-dark(
          oklch(12% 8% 264deg / 38%),
          oklch(47% 0.875% 264deg / 80%)
  );

  --color-gray-500: light-dark(
          oklch(12% 7.5% 264deg / 50%),
          oklch(64% 1% 264deg / 80%)
  );

  --color-gray-600: light-dark(
          oklch(12% 7% 264deg / 67%),
          oklch(82% 1% 264deg / 80%)
  );

  --color-gray-700: light-dark(
          oklch(12% 6% 264deg / 77%),
          oklch(92% 1.125% 264deg / 80%)
  );

  --color-gray-800: light-dark(
          oklch(12% 5% 264deg / 85%),
          oklch(93% 0.875% 264deg / 85%)
  );

  --color-gray-900: light-dark(
          oklch(12% 5% 264deg / 90%),
          oklch(95% 0.5% 264deg / 90%)
  );

  --color-gray-950: light-dark(
          oklch(12% 5% 264deg / 95%),
          oklch(94% 0.375% 264deg / 95%)
  );

  --text-primary: light-dark(rgba(0, 0, 0, 0.87), #fff);
  --text-secondary: light-dark(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.7));
  --primary-main: light-dark(#ff8f00, #ffb74d);

  &[data-theme=light] {
    color-scheme: light;
  }

  &[data-theme=dark] {
    color-scheme: dark;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  position: relative; /* https://base-ui.com/react/overview/quick-start#ios-26-safari */
}

input,
button,
select,
textarea,
optgroup,
keygen {
  margin: 0;

  border-radius: 0;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
}

img {
  max-width: 100%;
}

#root {
  isolation: isolate; /* https://base-ui.com/react/overview/quick-start#portals */
}