/* noto-sans-armenian-regular - latin_armenian */
@font-face {
  font-family: 'Noto Sans Armenian';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./fonts/noto-sans-armenian-v39-latin_armenian-regular.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: 'Noto Sans Armenian', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
  height: -webkit-fill-available;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
